@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap");
*{box-sizing: border-box;}
body{margin: 0;height: 100vh;display: grid;place-content: center;background: #F2F2F2; font-family: 'Montserrat', sans-serif;color: #0076ff;font-weight: bold;}
.container{
    padding: .5em;
    border-radius: .3em;
    width: 200px;
    border: 2px solid rgb(235, 235, 235);
    box-shadow: 7px 7px 5px rgba(0, 0, 0,.04),
    -7px -7px 5px rgba(255, 255, 255,.08);
}
.chkbox{display: none;pointer-events: none;
&+label{
    cursor: pointer;
    font-size: .8em;
    display: grid;
    grid-template-columns: auto 3fr;
    svg{
        width: 2em;
        stroke: rgb(0, 124, 226);
        stroke-width: 7;
        fill: white;
        .box{
            stroke-dasharray: 320;
            stroke-dashoffset: 0;
            fill: white;
        }
        .chk{
            stroke-dasharray: 70;
            stroke-dashoffset: 70;
            fill: none;
        }
    }
    span{
        padding-top: .4em;
        margin-left: .3em;
    }
  }

&:checked+label{
    .box{
        stroke-dashoffset: 320;
        transition: stroke-dashoffset .3s linear;
    }
    .chk{
        stroke-dashoffset: 0;
        transition: stroke-dashoffset .3s linear;
    }

}
}
.reverse{
    .box{
        stroke-dashoffset: 0;
        transition: stroke-dashoffset .3s linear;
    }
    .chk{
        stroke-dashoffset: 70;
        transition: stroke-dashoffset .3s linear;
    }
}